@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<address>
    Rua Desembargador Tolêdo Piza, 57 - Apto 01<br />
    Volta Redonda, RJ<br />
    CEP: 27175-000<br />
    <abbr title="Telefone">(024) 99880-1688</abbr>
    
</address>

<address>
    <strong>E-mail de contato:</strong>   <a href="mailto:pegu_lisboa@hotmail.com">pegu_lisboa@hotmail.com</a><br />
</address>