@{
    ViewBag.Title = "Sistema de Enquetes";
}

    <div class="jumbotron">
        <br />
        <h1>Luxfacta Soluções de TI</h1>
        <br />
        <p class="lead">Para Votar em uma enquete, vá ao menu Cadastros > Enquetes</p>
        <br />
        <br />
        <p class="lead">SISTEMA DE ENQUETES by Pedro Lisboa</p>
    </div>

